<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planner.cal.mapper.ScheduleMapper">
	<insert id="insertSchedule" parameterType="com.planner.cal.model.ScheduleVO">
		INSERT INTO schedule (title, start_date, end_date, start_time, end_time, location, memo, reminder, `repeat`, auth, state, category, color, reg_date)
		VALUES (#{title}, #{startDate}, #{endDate}, #{startTime}, #{endTime}, #{location}, #{memo}, #{reminder}, #{repeat}, #{auth},#{state},#{category},#{color},now())
	</insert>
	<select id="scheduleList" resultType="com.planner.cal.model.ScheduleVO">
		<![CDATA[ 
			SELECT * FROM schedule WHERE start_date >= #{firstday} AND end_date <= #{lastday}
		]]>
	</select>
	<!--
	<select id="selectByNo" resultType="com.onlineplatform.common.model.MenuVO">
		SELECT * FROM MENU WHERE no = #{no}
	</select>
	
	<delete id="deleteMenu">
		DELETE FROM MENU WHERE no = #{no}
	</delete>
	
	<update id="updateMenu">
		UPDATE MENU SET upt_id = #{emlAddr}, rfrnc_no = #{mv.rfrnc_no}, rfrnc_group = #{mv.rfrnc_group}, menu_nm = #{mv.menu_nm}, menu_lnkg = #{mv.menu_lnkg}, 
		mngr_page_rls_yn = #{mv.mngr_page_rls_yn}, user_page_rls_yn =#{mv.user_page_rls_yn}, rls_mbr_authrt = #{mv.rls_mbr_authrt}, use_yn = #{mv.use_yn}, upt_dt = now(), layer = #{mv.layer}
		WHERE no = #{mv.no}

	</update>-->
</mapper>